---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import ContactSection from "../../components/ContactSection.astro";
import Footer from "../../components/Footer.astro";
---

<Layout title="Home">
    <Navbar />
    <main>
        <ContactSection class="text-7xl h-screen" />
    </main>
    <Footer class="absolute w-full bottom-0" />
</Layout>
