---
const links = [
  { href: "/", name: "Inicio" },
  { href: "/profile", name: "Perfil" },
  { href: "/contact", name: "Contactos" },
];

const currentPath = Astro.url.pathname;
---

<heading class="flex justify-center py-8 fixed w-full z-50">
  <nav
    class="glass bg-yellow bg-opacity-50 p-1 rounded-3xl grid grid-cols-3 gap-2 md:gap-5"
  >
    {
      links.map((link) => (
        <a
          href={link.href}
          class={`${currentPath === link.href ? "bg-white bg-opacity-50" : ""} p-1 px-2 md:p-2 md:px-4 rounded-2xl text-xs md:text-sm text-center`}
        >
          {link.name}
        </a>
      ))
    }
  </nav>
</heading>

<style>
  .glass {
    backdrop-filter: blur(10px);
  }
</style>
